h1
{
    text-align: center;
    border: 2px solid black;
    margin: 10px;
}
.container
{
    
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    background-color: lightcyan;
    justify-content: space-between;
    padding: 10px 50px;
    margin: 5px;
    align-items: center;
}
.conatainer button
{
    border: 2px solid black;

}